.dockerignore
.gitignore

.pytest_cache
.hypothesis

deploy.yml
Jenkinsfile
sonar-project.properties
**/__pycache__/
**/*.py[cod]

.Python
pip-log.txt

.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover

.git
env
.env
